/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  /* show img/logo.svg blown up in the background to the left */
  background: url(../../static/img/logo.svg) no-repeat left top;
  background-size: 100%;

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
