.system {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.user {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(220, 220, 220);
}

.assistant {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(236, 236, 236);
}

.messageItem {
    display: flex;
    flex-direction: column;

    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;


    .role  {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}